<div class="card">
    <div>
        <form class="formPadding">
            <label for="defaultPayment">Default Payment Method</label>
            <select>
                <option value="cash">Cash</option>
                <option value="cheque">Cheque</option>
                <option value="internetBanking">Internet Banking</option>
                <option value="creditCard">Credit Card</option>
            </select>
            <label>Payment Terms</label>
            <select>
                <option value="dueOnReceipt">Due on Receipt</option>
                <option value="net7">Net 7</option>
                <option value="net30">Net 30</option>
                <option value="net60">Net 60</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
