<ul>
    <li title="Personal Information">
        <span>
                <i class="fas fa-address-book"></i>
                <!-- <p>Personal Information</p> -->
              </span>
    </li>
    <li title="Addresses">
        <span>
                <i class="fas fa-map-marker"></i>
                <!-- <p>Addresses</p> -->
              </span>
    </li>
    <li title="Attachements">
        <span>
                <i class="fas fa-paperclip"></i>
                <!-- <p>Attachements</p> -->
              </span>
    </li>
    <li title="Tax Information">
        <span>
                <i class="fas fa-money-bill-alt"></i>
                <!-- <p>Tax Information</p> -->
              </span>
    </li>
    <li title="Payment Information">
        <span>
                <i class="fab fa-cc-visa"></i>
                <!-- <p>Payment Information</p> -->
              </span>
    </li>
</ul>