<link rel="stylesheet" type="text/css" href="components/Addresses/style.css">

<div class="card">
    <div>
        <form class="formPadding">
            <label for="Address1">Address Line 1</label>
            <input type="text" id="Address1" name="Address" placeholder="Your address..">
            <label for="Address2">Address Line 2</label>
            <input type="text" id="Address" name="Address2" placeholder="Your address continued..">
            <label for="City">City</label>
            <input type="text" id="city" name="city" placeholder="Your city..">
            <label for="Phone">Phone Number</label>
            <input type="number" id="Phone" name="Phone" placeholder="Your phone number..">
            <input type="button" value="Set this as default" style="border: solid 1px #4CAF50;">
            <input type="submit" value="Submit">
        </form>
        <div class="formButtons setPositionRight" id="addNewForm">
            <button>+</button>
        </div>
        <div class="formButtons setPositionLeft hide">
            <button style="top:33%">&#8592;</button>
        </div>
    </div>
    <div class="nextButton">
        <button>&#8594;</button>
    </div>
</div>

<script type="text/javascript" src="components/Addresses/script.js"></script>