<div class="card">
    <div>
        <form class="formPadding">
            <label for="GSTIN">GSTIN</label>
            <input type="text" id="GSTIN" name="GSTIN" placeholder="Your GSTIN..">
            <label for="taxReg">Tax Reg. Number</label>
            <input type="text" id="taxReg" name="taxReg" placeholder="Your Tax Reg. Number..">
            <label for="cstReg">CST Reg. Number</label>
            <input type="text" id="cstReg" name="cstReg" placeholder="Your CST Reg. Number..">
            <label for="pan">PAN</label>
            <input type="text" id="pan" name="pan" placeholder="Your PAN Number..">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="nextButton">
        <button>&#8594;</button>
    </div>
</div>

<script type="text/javascript" src="components/TaxInfo/script.js"></script>